<h1>Pricing</h1>

<% @pricing = Stripe::Price.list(lookup_keys: ["goood_year", "goood_month"], expand: ["data.product"]) %>
<% @pricing.each do |price|%>
  <br>
  <%= price.product.name %>
  <%= price.id %>
  <%= price.unit_amount/100 %>
  <%= price.currency %>
  <%= link_to "checkout", checkout_create_path(price: price.id), method: :post, remote: true %>
  <%# サブスクではない商品も含まれているため、エラーとなる %>
  <%#= price.recurring.interval %>
<% end %>
